{% extends "base.html" %}
{% load static %}


{% block styles %}
    <link href=" {% static 'css/sidebar.css' %}" rel="stylesheet"/>
{% endblock styles %}

{% block title %}
    Vicedecano
{% endblock title %}

{% block content %}


    <!--Cabecera-->

    {% include "header.html" %}
    <!--Principal Section -->
    <div class="container-fluid pb-3 mt-1 mb-5 bg-light">
        <div class="row">
            <!--Aside-->
            <div class="col-2">
                <div class=" rounded-3 m-2">
                    <div class="flex-shrink-0 p-3 bg-white " style="width: 200px;">


                        <ul class="list-unstyled ps-0  border-bottom">

                            <li class="mb-1 ">
                                <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                                        data-bs-target="#home-collapse" aria-expanded="true">
                                    Gestión
                                </button>
                                <div class="collapse show" id="home-collapse">
                                    <ul class="btn-toggle-nav  list-unstyled fw-normal pb-1 small">
                                        <li><a href="/vicedecano" class="link-dark rounded">
                                            <img class="p-1" src="{% static 'imag/bootstrap-icons/gear.svg' %}"
                                                 alt="users" width="24" height="24">
                                            <span class="fs-6  text-center">Gestionar grupos</span>
                                        </a>
                                        </li>
                                        <li><a href="/vicedecanogu" class="link-dark rounded">
                                            <img class="p-1 " src="{% static 'imag/bootstrap-icons/people.svg' %}"
                                                 alt="users" width="24" height="24">
                                            <span class="fs-6  text-center">Gestionar usuarios</span>
                                        </a></li>
                                    </ul>
                                </div>
                            </li>
                        </ul>

                    </div>
                    <!-- CODIGO ANTIGUO PARA EL ASIDE 1-------------------
                      <div class="flex-shrink-0 p-3 bg-white " style="width: 200px;">
                        <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                          <img class="p-1 m-1" src="../imag/bootstrap-icons/people.svg" alt="users" width="32" height="32">
                          <span class="fs-6 fw-semibold text-center">Gestionar usuarios</span>
                        </a>

                        <ul class="list-unstyled ps-0  border-bottom">

                          <li class="mb-1">
                            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                              Opciones
                            </button>
                            <div class="collapse show" id="home-collapse" >
                              <ul class="btn-toggle-nav  list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">Insertar</a></li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                       --------------------------------------------------->


                </div>
            </div>

            <!--CRUD-->
            <div class=" col-10">
                <div class=" border rounded-3">
                    <div class="container mt-2">
                        <!--BOTONES-->
                        <div class="row">

                            <div class="col-4">

                                <button type="button" class="btn rounded-circle" title="Insertar grupo"
                                        data-bs-toggle="modal" data-bs-target="#createModal">
                                    <img class=" m-1" src="{% static 'imag/bootstrap-icons/plus-circle.svg' %}"
                                         alt="Insertar" width="24" height="24">

                                </button>
                                <!-- Modal INSERTAR Button -->
                                <div class="modal fade" id="createModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">

                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Registrar usuario</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="needs-validation " novalidate>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput"
                                                               class="form-label">Nombre(s)</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput" placeholder="Entrar nombre"
                                                               required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput2"
                                                               class="form-label">Apellidos</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput2"
                                                               placeholder="Entrar apellidos" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput"
                                                               class="form-label">Usuario</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput"
                                                               placeholder="Entrar nombre de usuario" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput2"
                                                               class="form-label">Grupo</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput2"
                                                               placeholder="Entrar número de grupo" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput" class="form-label">Nombre de
                                                            la asignatura</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput"
                                                               placeholder="Entrar nombre de la asignatura" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancelar
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Registrar</button>

                                                    </div>
                                                </form>
                                            </div>

                                            </form>
                                        </div>

                                    </div>
                                </div>

                                <!--boton modificar-->
                                <button type="button" class="btn rounded-circle" title="Modificar grupo"
                                        data-bs-toggle="modal" data-bs-target="#updateModal">

                                    <img class=" m-1" src="{% static 'imag/bootstrap-icons/pen.svg' %}" alt="Modificar"
                                         width="24" height="24">

                                </button>

                                <!-- Modal Modificar Button-->
                                <div class="modal fade" id="updateModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Modificar usuario</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form class="needs-validation " novalidate>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput"
                                                               class="form-label">Nombre(s)</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput" placeholder="Entrar nombre"
                                                               required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput2"
                                                               class="form-label">Apellidos</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput2"
                                                               placeholder="Entrar apellidos" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput"
                                                               class="form-label">Usuario</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput"
                                                               placeholder="Entrar nombre de usuario" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput2"
                                                               class="form-label">Grupo</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput2"
                                                               placeholder="Entrar número de grupo" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="mb-3 position-relative">
                                                        <label for="formGroupExampleInput" class="form-label">Nombre de
                                                            la asignatura</label>
                                                        <input type="text" class="form-control"
                                                               id="formGroupExampleInput"
                                                               placeholder="Entrar nombre de la asignatura" required>
                                                        <div class="invalid-tooltip">
                                                            Por favor, introduzca el campo requerido.
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                data-bs-dismiss="modal">Cancelar
                                                        </button>
                                                        <button type="submit" class="btn btn-primary">Guardar</button>
                                                    </div>
                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!--        ------------       -->
                                <!-- Button trigger modal DELETE-->
                                <button type="button" class="btn rounded-circle" title="Eliminar grupo"
                                        data-bs-toggle="modal" data-bs-target="#deleteModal">
                                    <img class=" m-1" src="{% static 'imag/bootstrap-icons/trash-fill.svg' %}"
                                         alt="Eliminar" width="24" height="24">

                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                     aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Eliminar</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                ¿Está seguro que desea eliminar el(los) archivo(s) seleccionado(s)?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                                    Cancelar
                                                </button>
                                                <button id="delete" type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">Eliminar
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                            <div class="col-7 ">
                                <!--buscar-->
                                <form class=" col-lg-12 mt-1 mb-lg-0 me-lg-3">
                                    <input type="search" class="form-control"
                                           placeholder="Nombre, apellidos, asignatura, Usuario" aria-label="Search">


                            </div>
                            <div class="col-1 ">
                                <button type="button" class="btn">
                                    <img class="" src="{% static 'imag/bootstrap-icons/search.svg' %}" alt="Buscar"
                                         width="24" height="24">

                                </button>
                            </div>


                        </div>

                        <!--FILTRADO-->
                        <div class="row ">
                            <div class="col-7"></div>
                            <div class="col-2 text-end small mt-1"><p>Filtrar b&uacute;squeda</p></div>
                            <div class="col-2">
                                <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option selected>-Seleccionar-</option>
                                    <option value="1">Nombre</option>
                                    <option value="2">Apellidos</option>
                                    <option value="3">Usuario</option>
                                    <option value="4">Profesor</option>
                                    <option value="5">Asignatura</option>
                                    <option value="6">Local</option>

                                </select>
                            </div>
                            <div class="col-1"></div>
                        </div>

                        <!--Fila de la Tabla-->
                        <div class="row p-1">
                            <table class="table table-sm p-1 table-hover text-center">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Nombre</th>
                                    <th scope="col">Apellidos</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">Asignatura</th>
                                    <th scope="col">Categoría</th>

                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">3</th>
                                    <td>Larry the Bird</td>
                                    <td> Bird</td>
                                    <td>@twitter</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <th scope="row">4</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">5</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">6</th>
                                    <td>Larry the Bird</td>
                                    <td> Bird</td>
                                    <td>@twitter</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <th scope="row">7</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">8</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <tr>
                                    <th scope="row">9</th>
                                    <td>Larry the Bird</td>
                                    <td> Bird</td>
                                    <td>@twitter</td>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                </tr>
                                <th scope="row">10</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                </tr>
                                </tbody>
                            </table><!--FIN TABLA-->
                        </div>
                    </div>
                </div>
            </div><!--end Col 10-->
        </div>
        <!--row principal-->
    </div>
    </div>

    {% include "footer.html" %}

{% endblock content %}

{% block scripts %}
    <script src="{% static 'js/bootstrap5-js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/jquery360/jquery360.js' %}"></script>
    <script src="{% static 'js/my_jquery_functions.js' %}"></script>


{% endblock scripts %}


